{#
/**
 * @file
 * Invitation form.
 *
 */
#}
<form{{ invitation.attributes }}>
  {{ invitation.form.form_build_id }}
  {{ invitation.form.form_token }}
  {{ invitation.form.form_id }}
  {{ invitation.form.invitation }}
  {{ invitation.form.accept }}
  {{ invitation.form.decline }}
</form>
