{#
/**
 * @file
 * Newsletter sign-up form.
 *
 */
#}
<form{{ attributes }}>
{{ form.form_build_id }}
{{ form.form_token }}
{{ form.form_id }}
  <div class="title">
    {{ 'Bi-weekly newsletter'|t }}
  </div>
  <div class="content">
    Sign up to our bi-weekly newsletter to get updates on features, development and future releases!
    <div class="column-wrapper">
      <div class="column-15-15 no-spacing">
        {{ form.email }}
      </div>
      <div class="column-15-15 no-spacing">
        {{ form.first_name }}
      </div>
      <div class="column-15-15 no-spacing">
        {{ form.last_name }}
      </div>
      <div class="column-15-15 no-spacing">
        {{ form.afa_username }}
      </div>
      <div class="column-15-15 no-spacing">
        {{ form.submit }}
      </div>
    </div>
  </div>
</form>
