{#
/**
 * @file
 * Chart form template.
 *
 */
#}
{{ form.form_build_id }}
{{ form.form_token }}
{{ form.form_id }}
<div class="section">
  <div class="column-wrapper">
    <div class="column-15-15 first-column last-column">
      <div class="section">
        <div class="title">
          Result overview
        </div>
        <div class="content">
          <div class="column-wrapper">
            <div class="column-15-15 first-column last-column">
              {{ form.filter }}
            </div>
            <div class="column-15-15 first-column">
              <div class="section">
                {{ form.series_1_type }}
                {{ form.series_1_interval }}
              </div>
            </div>
            </div>
          </div>
          {{ form.submit }}
          {{ form.chart }}
          {{ form.select }}
        </div>
      </div>
    </div>
  </div>
</div> 
