{#
/**
 * @file
 * An organization form page.
 *
 */
#}
<form{{ attributes }}>
{{ form.form_build_id }}
{{ form.form_token }}
{{ form.form_id }}
  <div class="section transparent">
    <div class="column-wrapper">
      <div class="column-3-15 first-column">
        {{ form.logo }}
      </div>
      <div class="column-8-15">
        <div class="title">
          {{ form.title }}
        </div>
        {{ form.description }}
        {{ form.timezone }}
      </div>
      <div class="column-4-15 last-column">
        {{ form.contact_information }}
      </div>
    </div>
    <div class="title">
      {{ 'Managers'|t }}
    </div>
    <div class="content">
      {{ form.managers }}
    </div>
    <div class="footer">
      {{ form.actions.submit }}
    </div>
  </div>
</form>
