{#
/**
 * @file
 * An organization page.
 *
 */
#}
<div class="section transparent">
  <div class="column-wrapper">
    <div class="column-3-15 first-column">
      {{ content.logo }}
    </div>
    <div class="column-8-15">
      <div class="title">
        {{ content.title }}
      </div>
      {{ content.description }}
    </div>
    <div class="column-4-15 last-column">
      {{ content.contact_information }}
      {{ content.management_toolbox }}
    </div>
  </div>
</div>

<div class="column-wrapper">
  <div class="column-10-15 first-column">
    <div class="section">
      {{ content.events }}
    </div>
  </div>
  <div class="column-5-15 last-column">
    <div class="section">
      {{ content.groups }}
    </div>
  </div>
</div>
