{#
/**
 * @file
 * Organization list.
 *
 */
#}
<div class="section">
  <div class="list">
    <div class="title">
      {{ content.title }}
    </div>
    <div class="content">
      <ul>
        {% if content.organizations is empty %}
          {{ content.empty }}
        {% else %}
        {% for organization in content.organizations %}
        <li>
          <div class="column-wrapper">
            <div class="column-3-15 first-column">
              {{ organization.logo }}
            </div>
            <div class="column-8-15">
              {{ organization.title }}
              {{ organization.location }}
            </div>
            <div class="column-4-15">
            </div>
          </div>
        </li>
        {% endfor %}
        {% endif %}
      </ul>
    </div>
  </div>
</div>
