{#
/**
 * @file
 * A filter form page.
 *
 */
#}
<form{{ attributes }}>
{{ form.form_build_id }}
{{ form.form_token }}
{{ form.form_id }}
  <div class="section">
    <div class="title">
      {{ 'Filter'|t }}
    </div>
    <div class="title">
      {{ form.name }}
    </div>
    {{ form.organization }}
    <div class="column-wrapper">
      <div class="column-15-15 first-column">
      </div>
    </div>
    <div class="footer">
      {{ form.actions.submit }}
      {{ help_button }}
    </div>
  </div>
</form>
