{#
/**
 * @file
 * A filter page.
 *
 */
#}
<div class="column-wrapper">
  <div class="column-15-15 first-column">
    <div class="section">
    <div class="title">
        {{ 'Filter'|t }}
      </div>
      <div class="content">
        <div class="column-wrapper">
          <div class="column-8-15 first-column">
            {{ content.title }}
            {{ content.organization }}
          </div>
          <div class="column-7-15 last-column">
            {% if content.links is not empty %}
            <div class="links">
              <div class="title">
                {{ 'Operations'|t }}
              </div>
              <div class="content">
                <ul>
                  {% for element in content.links %}
                  {% if element|render %}
                  <li>{{ element }}</li>
                  {% endif %}
                  {% endfor %}
                </ul>
              </div>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
