{#
/**
 * @file
 * A filter page.
 *
 */
#}
<div class="column-wrapper">
  <div class="column-11-15 first-column">
    <div class="section">
      <div class="column-wrapper">
        <div class="column-8-15 first-column">
          <div class="title">
            {{ 'Filter'|t }}
          </div>
          <div class="content">
            {{ content.organization }}
            {{ content.type }}
            {{ content.source }}
            {{ content.created }}
          </div>
        </div>
        <div class="column-7-15 last-column">
          {{ content.management_toolbox }}
          {{ content.organizer_toolbox }}
        </div>
      </div>
    </div>
  </div>
  <div class="column-4-15 last-column">
    <div class="section">
      {{ content.groups }}
    </div>
  </div>
</div>
