{#
/**
 * @file
 * A filter form page.
 *
 */
#}
<form{{ attributes }}>
{{ form.form_build_id }}
{{ form.form_token }}
{{ form.form_id }}
  <div class="section">
    <div class="title">
      {{ 'Filter'|t }}
    </div>
    <div class="title">
      {{ form.name }}
    </div>
    <div class="column-wrapper">
      <div class="column-15-15">
        <div class="section">
          <div class="title">
            Event
          </div>
          <div class="column-wrapper">
            <div class="column-11-15 first-column">
              <div class="title">
                Filter by template
              </div>
              <div class="content">
                {{ form.event_templates }}
              </div>
              <div class="title">
                Filter by result type
              </div>
              <div class="content">
                {{ form.result_types }}
              </div>
            </div>
            <div class="column-4-15 last-column">
              <div class="title">
                Filter by dates
              </div>
              <div class="content">
                {{ form.start_date }}
                {{ form.end_date }}
              </div>
              <div class="title">
                Filter by location
              </div>
              <div class="content">
                {{ form.location }}
                {{ form.location_precision }}
              </div>
            </div>
          </div>
      </div>
    </div>
    <div class="footer">
      {{ form.actions.submit }}
      {{ help_button }}
    </div>
  </div>
</form>
