{#
/**
 * @file
 * Header menu.
 *
 */
#}
<div class="header-menu">
  <div class="column-wrapper">
    <div class="column-3-15 no-spacing">
      {{ content.logo }}
    </div>
    <div class="column-2-15 no-spacing">
    </div>
    <div class="column-10-15 no-spacing">
      {{ content.guide }}
      <div class="spacer">&nbsp;</div>
      {{ content.organizations }}
      <div class="spacer">&nbsp;</div>
      {{ content.help }}
      {% if not logged_in %}
      {{ content.login_link }}
      {% else %}
      {{ content.logout_link }}
      {{ content.profile_link }}
      {% endif %}
    </div>
  </div>
</div>
