{#
/**
 * @file
 * Event template list.
 *
 */
#}
<div class="section">
  <div class="list event_templates">
    <div class="title">
      {{ content.title }}
    </div>
    <div class="content">
      <ul>
        {% if content.event_templates is empty %}
          {{ content.empty }}
        {% else %}
        {% for event_template in content.event_templates %}
        <li>
          <div class="column-wrapper">
            <div class="column-10-15 first-column">
              {{ event_template.title }}
            </div>
            <div class="column-2-15 first-column">
              {{ event_template.event_count }}
            </div>
            <div class="column-3-15 last-column">
              {{ event_template.more_info }}
            </div>
          </div>
        </li>
        {% endfor %}
        {% endif %}
      </ul>
    </div>
    <div class="footer">
      {{ content.pager }}
      {{ content.create_link }}
    </div>
  </div>
</div>
