{#
/**
 * @file
 * An event template form page.
 *
 */
#}
<form{{ attributes }}>
{{ form.form_build_id }}
{{ form.form_token }}
{{ form.form_id }}
  <div class="section">
    <div class="title">
      {{ 'Event template'|t }}
    </div>
    <div class="title">
      {{ form.name }}
    </div>
    <div class="column-wrapper">
      <div class="column-15-15">
        <div class="section">
          <div class="title">
            Event
          </div>
          <div class="column-wrapper">
            <div class="column-11-15 first-column">
              <div class="content">
                {{ form.event_title }}
                {{ form.event_description }}
              </div>
            </div>
            <div class="column-4-15 last-column">
              {{ form.event_start_date }}
              {{ form.event_end_date }}
              {{ form.event_location }}
            </div>
          </div>
      </div>
    </div>
    <div class="footer">
      {{ form.actions.submit }}
      {{ help_button }}
    </div>
  </div>
</form>
