{#
/**
 * @file
 * An export form page.
 *
 */
#}
<form{{ attributes }}>
{{ form.form_build_id }}
{{ form.form_token }}
{{ form.form_id }}
  <div class="section">
    <div class="title">
      {{ 'Export'|t }}
    </div>
    <div class="content">
      <div class="column-wrapper">
        <div class="column-11-15 first-column">
          <div class="section">
            <div class="column-wrapper">
              <div class="column-7-15 first-column">
                {{ form.filter }}
              </div>
              <div class="column-8-15 last-column">
              </div>
            </div>
          </div>
        </div>
        <div class="column-4-15 last-column">
        </div>
        <div class="column-11-15 first-column">
          <div class="title">
              {{ 'Columns'|t }}
          </div>
          <div class="column-wrapper">
            <div class="column-5-15 first-column">
              {{ form.columns_event }}
            </div>
            <div class="column-5-15 first-column">
              {{ form.columns_result }}
            </div>
            <div class="column-5-15 last-column">
              {{ form.columns_third_party_content }}
            </div>
          </div>
          <div class="title">
              {{ 'File'|t }}
          </div>
          <div class="content">
              {{ form.field_file_csv }}
          </div>
        </div>
        <div class="column-4-15 last-column">
        </div>
      </div>
    </div>
    <div class="footer">
      {{ form.actions.submit }}
      {{ help_button }}
    </div>
  </div>
</form>
