{#
/**
 * @file
 * Invitation list.
 *
 */
#}
<div class="list invitations">
  {% if content.invitations is empty %}
  {{ content.empty_message }}
  {% else %}
  {{ content.title }}
  {% endif %}
  <div class="content">
    <ul>
      {% for invitation in content.invitations %}
      <li>
        <div class="column-wrapper">
          <div class="column-8-15">
            {{ invitation.email_address }}
          </div>
          <div class="column-3-15">
            {{ invitation.timestamp }}
          </div>
          <div class="column-4-15">
            {{ invitation.remove }}
          </div>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
