{#
/**
 * @file
 * Group event overview.
 *
 */
#}
<div class="section">
  <div class="list">
    <div class="title">
      {{ content.title }}
    </div>
    <div class="content">
      <ul>
        {% if content.events is empty %}
          {{ content.empty }}
        {% else %}
        {% for event in content.events %}
        <li>
          <div class="column-wrapper">
            <div class="column-10-15 first-column">
              {{ event.title }}
              {{ event.parent }}
              {{ event.start_date }}
              {{ event.location }}
            </div>
            <div class="column-5-15 last-column">
              {{ event.more_info }}
            </div>
          </div>
        </li>
        {% endfor %}
        {% endif %}
      </ul>
    </div>
    <div class="footer">
      {{ content.pager }}
      <div class="column-wrapper">
        <div class="column-5-15 first-column">
          {{ content.create_link }}
        </div>
        <div class="column-10-15 last-column">
          {{ content.create_from_template_link }}
        </div>
      </div>
    </div>
  </div>
</div>
