{#
/**
 * @file
 * A result form page.
 *
 */
#}
<div class="section">
    <div class="title">
    {{ content.title }}
  </div>
  <div class="content">
    <div class="column-wrapper">
      <div class="column-6-15 first-column">
        <div class="content spacing-top">
          <div class="section">
            <strong>{{ 'Number of participants'|t }}</strong>
            <div class="column-wrapper">
              <div class="column-10-15 no-spacing">
                {{ form.participant_count }}
              </div>
              <div class="column-5-15 no-spacing vertical-align">
                {{ 'participants'|t }}
              </div>
            </div>
          </div>
        </div>
        <div class="content spacing-top">
          <div class="section">
            <strong>{{ 'Duration'|t }}</strong>
            <div class="column-wrapper">
              <div class="column-5-15 no-spacing">
                {{ 'Minutes'|t }}
                {{ form.duration_minutes }}
              </div>
              <div class="column-5-15 no-spacing">
                {{ 'Hours'|t }}
                {{ form.duration_hours }}
              </div>
              <div class="column-5-15 no-spacing">
                {{ 'Days'|t }}
                {{ form.duration_days }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="column-1-15 last-column">
      </div>
      <div class="column-8-15 last-column">
        {% for data_item in form.data_items %}
        <div class="content spacing-top">
          <div class="section">
            <strong>{{ data_item.title }}</strong>
            {{ data_item.field }}
          </div>
        </div>          
        {% endfor %}
        <div class="content spacing-top">
          <div class="section">
            <strong>{{ 'Tags'|t }}</strong>
            {{ form.tags }}
          </div>
        </div>
      </div>
    </div>
  </div>
  {{ form.actions }}
</div>
