{#
/**
 * @file
 * An event page.
 *
 */
#}
<div class="column-wrapper">
  <div class="column-11-15 first-column">
    <div class="section transparent">
      <div class="title">
        {{ 'Event'|t }}
      </div>
      <div class="content">
        <div class="column-wrapper">
          <div class="column-1-1">
            {{ content.map }}
          </div>
          <div class="column-8-15 first-column">
            {{ content.title }}
            {{ content.location }}
            <div class="column-wrapper">
              <div class="column-7-15 first-column">
                {{ content.start_date }}
              </div>
              <div class="column-7-15 last-column">
                {{ content.end_date }}
              </div>
            </div>
            {{ content.description }}
            {{ content.results }}
            {{ content.management_toolbox }}
            {{ content.organizer_toolbox }}
          </div>
          <div class="column-7-15 last-column">
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      {{ content.events }}
    </div>
  </div>
  <div class="column-4-15 last-column">
    <div class="section">
      {{ content.groups }}
    </div>
  </div>
  </div>
</div>
