{#
/**
 * @file
 * Event template selection form.
 *
 */
#}
<form {{ form.attributes }}>
  {{ form.form_build_id }}
  {{ form.form_token }}
  {{ form.form_id }}
  <div class="section">
    <div class="title">
      {{ 'Select an event template'|t }}
    </div>
    <div class="content">
      <div class="column-wrapper">
        <div class="column-15-15 last column">
          {{ form.event_template }}
        </div>
      </div>
      {{ form.select }}
    </div>
  </div>
</form>
