{#
/**
 * @file
 * An event page.
 *
 */
#}
<div class="section">
  <div class="title">
    {% if content.title %}
    {{ content.title }}
    {% else %}
    {{ 'Event'|t }}
    {% endif %}
  </div>
  <div class="column-wrapper">
    <div class="column-11-15 first-column">
      <div class="content">
        <div class="column-wrapper">
          <div class="column-15-15">
            {{ content.map }}
          </div>
          <div class="column-15-15">
            {{ content.description }}
          </div>
          {% if content.results is not empty %}
          <div class="column-15-15">
            <div class="section">
              <div class="title">
                Results
              </div>
              <div class="content">
                {{ content.results }}
              </div>
            </div>
          </div>
          {% endif %}
          <div class="column-5-15">
            {% if content.weather_information is not empty %}
            <div class="section">
              Weather
            {% for element in content.weather_information %}
            {% if element|render %}
              <div class="column-15-15">
                {{ element }}
              </div>
            {% endif %}
            {% endfor %}
              {{ weather_information.source }}
            </div>
            {% endif %}
          </div>
          <div class="column-5-15">
            {% if content.demographics is not empty %}
            <div class="section">
              Demographics (1 km radius)
            {% for element in content.demographics %}
            {% if element|render %}
              <div class="column-15-15">
                {{ element }}
              </div>
            {% endif %}
            {% endfor %}
              {{ demographics.source }}
            </div>
            {% endif %}
          </div>
          <div class="column-5-15">
            {% if content.extended_location_information is not empty %}
            <div class="section">
              Location
            {% for element in content.extended_location_information %}
            {% if element|render %}
              <div class="column-15-15">
                {{ element }}
              </div>
            {% endif %}
            {% endfor %}
              {{ extended_location_information.source }}
            </div>
            {% endif %}
          </div>
          <div class="column-5-15">
            {% if content.city_pulse.goldenstein_scale is not empty %}
            <div class="section">
              City pulse (10 km radius)
            {% for element in content.city_pulse %}
            {% if element|render %}
              <div class="column-15-15">
                  {{ element }}
              </div>
            {% endif %}
            {% endfor %}
              {{ city_pulse.source }}
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    <div class="column-4-15 last-column">
      {{ content.start_date }}
      {{ content.end_date }}
      {{ content.location }}
      {{ content.link }}
      {% if content.photos %}
      <div class="title">
        {{ 'Photos'|t }}
      </div>
      <div class="content">
        {{ content.photos }}
      </div>
      {% endif %}
      {% if content.links is not empty %}
      <div class="links">
        <div class="title">
          {{ 'Operations'|t }}
        </div>
        <div class="content">
          <ul>
            {% for element in content.links %}
            {% if element|render %}
            <li>{{ element }}</li>
            {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</div>
<div class="column-wrapper">
  <div class="column-11-15 first-column">
    {{ content.events }}
  </div>
  <div class="column-4-15 last-column">
    {{ content.groups }}
  </div>
</div>
