{#
/**
 * @file
 * An import form page.
 *
 */
#}
<form{{ attributes }}>
{{ form.form_build_id }}
{{ form.form_token }}
{{ form.form_id }}
  <div class="section">
    <div class="title">
      {{ 'Create event'|t }}
    </div>
    <div class="title">
      {{ form.title }}
    </div>
    {{ form.parent }}
    {{ form.location }}
    <div class="column-wrapper">
      <div class="column-7-15 first-column">
        {{ form.start_date }}
      </div>
      <div class="column-7-15 last-column">
        {{ form.end_date }}
      </div>
    </div>
    {{ form.description }}
    <div class="title">
      {{ 'Results'|t }}
    </div>
    <div class="content">
      {{ form.results }}
    </div>
    <div class="footer">
      {{ form.actions.submit }}
      {{ help_button }}
    </div>
  </div>
</form>
