{#
/**
 * @file
 * Group export overview.
 *
 */
#}
<div class="section">
  <div class="list">
    <div class="title">
      {{ content.title }}
    </div>
    <div class="content">
      <ul>
        {% if content.exports is empty %}
          {{ content.empty }}
        {% else %}
        {% for export in content.exports %}
        <li>
          <div class="column-wrapper">
            <div class="column-10-15 first-column">
              {{ export.type }}
              {{ export.source }}
              {{ export.created }}
            </div>
            <div class="column-5-15 last-column">
              {{ export.more_info }}
            </div>
          </div>
        </li>
        {% endfor %}
        {% endif %}
      </ul>
    </div>
    <div class="footer">
      {{ content.pager }}
      {{ content.create_csv_link }}
    </div>
  </div>
</div>
