{#
/**
 * @file
 * Group list.
 *
 */
#}
<div class="section">
  <div class="list groups">
    <div class="title">
      {{ content.title }}
    </div>
    <div class="content">
      <ul>
        {% for group in content.groups %}
        <li>
          <div class="column-wrapper">
            <div class="column-15-15">
              {{ group.logo }}
              {{ group.title }}
              {{ group.location }}
              {{ group.event_count }}
            </div>
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>
    <div class="footer">
      {{ content.create_link }}
    </div>
  </div>
</div>
